{% extends 'StoreBackendBundle::layout.html.twig' %}

{% block titlepage %}Dashboard{% endblock %}

{% block content %}

    <h1><i class="fa fa-truck"></i> {{ supplier.name }}</h1>

    <p>Description : {{ supplier.description }}</p>
    <p>Image : <br>
        <img src="{{ supplier.image }}"></p>
    <p>Active : {{ supplier.active ? 'Oui' : 'Non' }}</p>
    <p>Date Création : {{ supplier.dateCreated|date('d/m/Y') }}</p>

{% endblock %}