{% extends 'StoreBackendBundle::layout.html.twig' %}

{% block titlepage %}Dashboard{% endblock %}

{% block content %}
    <h1><i class="fa fa-tags"></i>  Liste des produits</h1>

    <div class="panel-body">
        <ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
            <li class="active">
                <a data-toggle="tab" href="#uidemo-tabs-default-demo-home">Actif </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#uidemo-tabs-default-demo-profile">Inactif </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#uidemo-tabs-default-demo-cover">Cover </a>
            </li>
        </ul>

        <div class="tab-content tab-content-bordered">
            <div id="uidemo-tabs-default-demo-home" class="tab-pane fade">
                {% if actifproduct == null %}
                Y a rien ici
                {% else %}
                {% for ap in actifproduct %}
                    {{ ap.title }}
                    <br/>
                {% endfor %}
                {% endif %}
            </div> <!-- / .tab-pane -->
            <div id="uidemo-tabs-default-demo-profile" class="tab-pane fade active in">
                {% if inactifproduct == null %}
                    Y a rien ici
                {% else %}
                {% for iap in inactifproduct %}
                    {{ iap.title }}
                {% endfor %}
                {% endif %}
            </div> <!-- / .tab-pane -->
            <div id="uidemo-tabs-default-demo-cover" class="tab-pane fade">
                {% if coverproduct == null %}
                    Y a rien ici
                {% else %}
                    {% for cp in coverproduct %}
                        {{ cp.title }}
                        <br/>
                    {% endfor %}
                {% endif %}
            </div> <!-- / .tab-pane -->
        </div> <!-- / .tab-content -->
    </div>

    <table class="table table-primary">
        <thead>
        <tr>
            <th>id</th>
            <th>Ref.</th>
            <th>Titre</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Actif</th>
            <th>Date de création</th>
            <th>CMS</th>
            <th>Fournisseurs</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.ref }}</td>
                <td><a href="{{ path('store_backend_product_view', {'name': product.slug, 'id': product.id}) }}">{{ product.title }}</a></td>
                <td>{{ product.price }}€</td>
                <td>{% if product.meta.video is defined %}{{ product.meta.video }}{% endif %}</td>
                <td>{{ product.active ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' }}</td>
                <td>{{ product.dateActive|date('d/m/Y') }}</td>
                <td><span class="badge badge-info"><strong>{{ product.cms|length }}</strong></span> pages cms</td>
                <td><span class="badge badge-info"><strong>{{ product.supplier|length }}</strong></span> fournisseurs</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cogs"></i>  Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('store_backend_product_view', {'id' : product.id, 'name' : product.slug}) }}"><i class="fa fa-search"></i>  Voir</a></li>
                            <li><a href="#"><i class="fa fa-pencil"></i>  Editer</a></li>
                            <li><a href="{{ path('store_backend_product_remove', {'id' : product.id}) }}"><i class="fa fa-times"></i>  Supprimer</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
