{% extends 'StoreBackendBundle::layout.html.twig' %}

{% block titlepage %}Dashboard{% endblock %}

{% block content %}
    <h1><i class="fa fa-cogs"></i>  Liste des catégories</h1>

    <table class="table table-primary">
        <thead>
        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Nb. de produits affectés</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td><span class="badge badge-info"><strong>{{ category.product|length }}</strong></span> produits associés</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cogs"></i>  Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('store_backend_category_view', {'id' : category.id, 'name' : category.title}) }}"><i class="fa fa-search"></i>  Voir</a></li>
                            <li><a href="#"><i class="fa fa-pencil"></i>  Editer</a></li>
                            <li><a href="{{ path('store_backend_category_remove', {'id' : category.id }) }}"><i class="fa fa-times"></i>  Supprimer</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>


{% endblock %}